body {
  height: 100vh;
  overflow: hidden;
}
* {
  font-weight: 300;
}

@media only screen and (max-height: 900px) {
  body {
    height: 100%;
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
}
.table-wrapper {
  overflow-x: auto;
}
div.dt-top-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
  margin: 0 auto;
}

div.dt-filter-spacer {
  margin: 10px 0;
}